.wrapper{
    width: 100%;
    height: 100vh;
    background: beige;
}

.content{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.content .menu{
    height: 450px;
    width: 450px;
    background: #4173B1;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .menu div{
    background: white;
    width: 350px;
    height: 350px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    font-family: 'Jua', sans-serif;
}


.menu:hover{
    background: #244263;
    cursor: pointer;
}

div.stop-dragging{
    -webkit-user-select: none;
}



