.wrapper{
    width: 100%;
    height: 100vh;
    background: #4173B1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Mukta', sans-serif;
}

.content{
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 150px;
    height: 150px;
}

.wrapper .header a{
    padding-right: 5px;
    color: white;
    text-decoration: none;
}
.wrapper .header a:hover{
    color: black;
}
.form{
    text-align: center;
}

.form span{
    display: inline-block;
    color: white;
    margin-bottom: 30px;
    font-family: 'Jua', sans-serif;
}

.form input{
    width: 300px;
    outline: 0;
    display: flex;
    background: white;
    padding: 10px 40px;
    flex-direction: column;
    margin-bottom: 15px;
    border-radius: 25px;
    border: none;
    font-size: 20px;
    height: 30px;

}

.form .form-btn{
    border: none;
    width: 380px;
    background: #294B71;
    border-radius: 25px;
    padding: 10px 40px;
    color: white;
    outline: 0;
    text-transform: uppercase;
    letter-spacing:8px;
    cursor: pointer;
    font-size: 15px;
    height: 50px;
    font-weight: bold;
}

.form .form-btn:hover{
    background: #244263;
}

