.wrapper{
    width: 100%;
    height: 100vh;
    background: #4173B1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper .header{
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
}

.wrapper .header a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    margin-right: 5px;
}

.wrapper .header a:hover{
    color: black;
}

.content{
    width: 500px;
    height: 90%;
    background: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
}

.content .logo{
    width: 70px;
    height: 70px;
    margin-bottom: 80px;
}
.content .logo img{
    width: 100%;
    height: 100%;
}


.content form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content form input{
    width: 300px;
    outline: 0;
    display: flex;
    background: white;
    padding: 10px 40px;
    flex-direction: column;
    margin-bottom: 15px;
    border-radius: 25px;
    border: none;
    font-size: 20px;
    height: 30px;
}

.content form button{
    border: none;
    width: 380px;
    background: #294B71;
    border-radius: 25px;
    padding: 10px 40px;
    color: white;
    outline: 0;
    text-transform: uppercase;
    letter-spacing:10px;
    cursor: pointer;
    font-size: 15px;
    height: 50px;
    font-weight: bold;
    margin-top: 10px;
}

.content form button:hover{
    background: #244263;
}


