<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WEB POS - 도움말</title>
    <link href="/css/help.css" rel="stylesheet" type="text/css">
    <link href="/css/reset.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Mukta:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<div class="wrapper">
        <div class="header"></div>
        <div class="content">
            <div class="logo">
                <img src="/css/img/faq.png" alt="faq">
            </div>
            <span> 포트폴리오 자문자답입니다 😃</span>
            <div class="content-faq">
            </div>
        </div>
</div>
</body>
</html>