<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WEB POS - 메인</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <div class="header">
        <a href="/member/logout">LOGOUT</a>
    </div>
    <div class="content">
        <div class="menu stop-dragging">
            <div>매장</div>
        </div>
        <div class="menu stop-dragging">
            <div>정산</div>
        </div>
        <div class="menu stop-dragging">
            <div>설정</div>
        </div>
    </div>
</div>
</body>
</html>