<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WEB POS - 로그인</title>
    <link href="/css/login.css" rel="stylesheet" type="text/css">
    <link href="/css/reset.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Mukta:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <div class="header">
        <a href="/member/signup">SIGN UP</a>&#124;
        <a href="/member/findpw">RESET PW</a>&#124;
        <a href="/help">HELP</a>
    </div>
    <div class="chat-icon">
        <img src="/css/img/chat.png" alt="chat">
    </div>
    <div class="content">
        <div class="logo">
            <img src="/css/img/logo.png" alt="logo"/>
        </div>
        <span class="alert-id">계정 또는 암호가 올바르지 않습니다🥲</span>
        <div class="form">
            <form action="/member/login" method="post">
            <input type="email" id="form-id" name="email" placeholder="Email" autocomplete="off">
            <input type="password" id="form-pw" name="password" placeholder="Password" autocomplete="off">
            <button type="submit" class="form-btn">login</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>