<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/css/signup.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="wrapper">
    <div class="header">
        <a href="/member/login">login</a>&#124;
        <a href="/help">help</a>
    </div>
    <div class="content">
        <div class="logo">
        <img src="/css/img/signup.png" alt="signup">
        </div>
        <form action="/member/signup" method="post">
            <input th:type="text" name="email" placeholder="Email">
            <input th:type="password" class="form-pw" name="password" placeholder="Password">
            <input th:type="password" class="form-pw" placeholder="Password">
            <input th:type="text" name="shop" placeholder="Shop">
            <button th:type="submit">SignUp</button>
        </form>
    </div>
</div>
</body>
</html>